@import '../../shared/sass/base';

html{
    font-size: $base-font-size;
}

.MuiContainer-root{
    font-size: $font-large;
}

.MuiButton-root{
    font-family: 'Calistoga', cursive !important;
}

.MuiInput-root{
    margin-bottom: 2px !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid $primary-color !important;
}

.MuiButton-containedPrimary {
    background-color: $primary-color !important;
    
    &:hover{
        filter: brightness(80%);
    }
}

.MuiSnackbar-root{
    white-space: pre;
}