//base css
$base-font-size: 16px;

//font sizes
$font-xsmall: $base-font-size / 1.6;
$font-small: $base-font-size / 1.3;
$font-normal: $base-font-size;
$font-large: $base-font-size * 1.5;
$font-larger: $base-font-size * 2;
$font-largest: $base-font-size * 3;

// font-weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-black: 700;
$font-weight-heading: $font-weight-bold;